@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #c00000;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
/* Text selection color */
::-moz-selection {
  color: white;
  background: var(--primary);
}
::selection {
  color: white;
  background: var(--primary);
}

.banner {
  background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0)),
    url("bg-bhojjo.jpg");
  background-size: cover;
}

.section-gap-x {
  @apply lg:px-[100px] md:px-[60px] px-4;
}
.section-gap-y {
  @apply py-10;
}

.section-gap-xy {
  @apply py-10 px-[100px];
}

.activeStep {
  @apply outline-2 outline outline-offset-[3px] outline-primary;
}

.section-heading {
  @apply text-black-100 font-bold text-4xl mb-3;
}
